## Other Repos
#################
.svn
.editorconfig

## Project Specific
#################

.vagrant
node_modules
out
.coverdata
.coverrun
dist
build
lib
coverage
env
reports/*
!reports/.gitkeep
npm-debug.log
package-lock.json
.sass-cache
logs/
./config/development.js
test-results
.gitkeep
.jest-cache
.webpack-stats.*


## OSX
#################

[Tt]humbs.db
*.DS_Store

## Generic
#################

*.tmp
*.bak
*.cya

## Webstorm
#################

.idea

## Eclipse
#################

*.pydevproject
.project
.metadata
.gradle
bin/
tmp/
target/
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

## Atlassian
#################

atlassian-ide-plugin.xml

